#H1{
    display: block;
    text-align: center;
    font-size: 5em;
    font-family: Helvetica;
}

#counterLabel{
    display: block;
    text-align: center;
    font-size: 5em;
    font-family: Helvetica;
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(0, 170, 255);
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: rgb(0, 92, 252);
}